.u-margin-right-small {
  margin-right: 1rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: inherit; }

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6rem;
  background-color: #0c122c;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  color: white; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 60%; } }

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 3%;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .main-container {
      display: block;
      margin: 0 auto; } }

.bg-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -3; }

.icons {
  background-color: #0c122c;
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
  padding: 1rem; }

.fylo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 30%;
  background-color: #1d2c67;
  border-radius: 10px 100px 10px 10px;
  padding: 0.75rem 3rem;
  margin-right: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .fylo {
      flex-basis: 15%; } }

.logo {
  width: 15rem;
  height: 15rem;
  box-sizing: content-box; }

.notification {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 3rem;
  flex-basis: 30%;
  flex-wrap: nowrap;
  font-size: 1rem;
  margin-top: 3rem;
  font-weight: 400;
  border-radius: 10px;
  background-color: #1d2c67;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .notification {
      display: block;
      width: 95%; } }
  .notification P {
    margin: 2rem 0; }
  .notification__meter {
    display: block;
    background-color: #0c122c;
    border-radius: 1000000000000000px;
    width: 100%;
    top: 1rem;
    padding: 3px;
    height: 1.5rem;
    bottom: -2rem; }
    .notification__meter::before {
      /***gradient for the meter***/
      content: "";
      height: 1rem;
      width: 75%;
      position: absolute;
      border-radius: 0.8rem;
      background-image: linear-gradient(#ffa399, #ff4d97); }
    .notification__meter::after {
      /***circular handle dor thr meter***/
      content: "";
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background-color: #dddbff;
      position: absolute;
      right: 7rem; }

.zeroGb {
  display: flex;
  justify-content: space-between; }

.message {
  position: relative;
  bottom: 6rem;
  right: 20rem;
  background-color: white;
  color: #dddbff;
  padding: 2rem 3rem;
  font-weight: 700;
  border-radius: 10px; }
  @media only screen and (max-width: 37.5em) {
    .message {
      z-index: 7;
      position: absolute;
      bottom: -3rem;
      right: 12rem; } }
  .message::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0rem;
    right: 0rem;
    bottom: -2rem;
    border-right: 3rem solid white;
    border-bottom: 3rem solid transparent; }
    @media only screen and (max-width: 37.5em) {
      .message::after {
        display: none; } }
  .message span:not(:last-of-type) {
    font-size: 4rem;
    color: black; }
  .message span:last-of-type {
    text-transform: uppercase; }

.attribution {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
  font-weight: 700;
  font-size: 1rem; }
  .attribution a {
    text-decoration: none;
    color: white; }
