// variables
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);
$gradient: hsl(6, 100%, 80%), hsl(335, 100%, 65%);
$pale-blue: hsl(243, 100%, 93%);

// typography
$font-size: 14px;

// screen sizes
$bp-laptop-md: 75em; //1200px
$bp-tab: 56.25em; //900px
$bp-phone: 37.5em; //600px/16px(base font size = 16px)

// mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: $bp-phone) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: $bp-tab) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (min-width: $bp-laptop-md) {
      @content;
    }
  }
}

// utility
.u-margin-right-small {
  margin-right: 1rem;
}
.u-margin-bottom-small {
  margin-bottom: 1rem;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6rem;
  background-color: $very-dark-blue;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  position: relative;

  color: white;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(phone) {
    font-size: 50%;
  }
  @include respond(tab-port) {
    font-size: 60%;
  }
  @include respond(big-desktop) {
    font-size: 100%;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 3%;
  width: 100%;

  @include respond(phone) {
    display: block;
    margin: 0 auto;
    // vertical-align: middle;
  }
}

.bg-image {
  position: absolute;
  bottom: 0;
  left: 0;

  z-index: -3;
}

.icons {
  background-color: $very-dark-blue;
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
  padding: 1rem;
}

.fylo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 30%;
  background-color: $dark-blue;
  border-radius: 10px 100px 10px 10px;
  padding: 0.75rem 3rem;
  margin-right: 2rem;

  @include respond(phone) {
    flex-basis: 15%;
  }
}

.logo {
  width: 15rem;
  height: 15rem;
  box-sizing: content-box;
}

.notification {
  height: 10rem;
  // align-self: baseline;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 3rem;
  flex-basis: 30%;
  flex-wrap: nowrap;
  font-size: 1rem;
  margin-top: 3rem;
  font-weight: 400;
  border-radius: 10px;
  background-color: $dark-blue;
  position: relative;

  @include respond(phone) {
    display: block;
    width: 95%;
  }

  P {
    margin: 2rem 0;
  }

  &__meter {
    display: block;
    background-color: $very-dark-blue;
    border-radius: 1000000000000000px;
    width: 100%;

    top: 1rem;

    padding: 3px;
    height: 1.5rem;

    bottom: -2rem;

    &::before {
      /***gradient for the meter***/
      content: "";
      height: 1rem;
      width: 75%;
      position: absolute;
      border-radius: 0.8rem;
      background-image: linear-gradient($gradient);
    }
    &::after {
      /***circular handle dor thr meter***/
      content: "";
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background-color: $pale-blue;
      position: absolute;
      right: 7rem;
    }
  }
}

.zeroGb {
  display: flex;
  justify-content: space-between;
}

.message {
  position: relative;
  bottom: 6rem;
  right: 20rem;
  background-color: white;
  color: $pale-blue;
  padding: 2rem 3rem;
  font-weight: 700;
  border-radius: 10px;

  @include respond(phone) {
    z-index: 7;
    position: absolute;
    bottom: -3rem;
    right: 12rem;
  }

  // **********************TESTING**********************//
  // clip-path: polygon(86% 27%, 11% 27%, 11% 74%, 73% 74%, 87% 87%);
  // -webkit-clip-path: polygon(86% 27%, 11% 27%, 11% 74%, 73% 74%, 87% 87%);

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0rem;
    right: 0rem;
    bottom: -2rem;
    border-right: 3rem solid white;
    border-bottom: 3rem solid transparent;

    @include respond(phone) {
      display: none;
    }
  }
  span:not(:last-of-type) {
    font-size: 4rem;
    color: black;
  }
  span:last-of-type {
    text-transform: uppercase;
  }
}

.attribution {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  a {
    text-decoration: none;
    color: white;
  }
}
